
.formulario{
    position: absolute;
    top: 50%; /*TOP Y LEFT A LA MITAD ME SIRVE PARA CENTRAR EL CONTENIDO */
    left: 50%;  /*TOP Y LEFT A LA MITAD ME SIRVE PARA CENTRAR EL CONTENIDO */
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver; /* AGREGA UNA LINEA DEBAJO DEL H1 */
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .user{
    position: relative;
    border-bottom: 1px solid #adadad;
    margin: 30px 0;
}

.user input{ /*ESTILOS PARA QUE NO SEA VEA LA CAJA DEL INPUT */
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.password input{ width: 100%; /*ESTILOS PARA QUE NO SEA VEA LA CAJA DEL INPUT */
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

form .password{
    position: relative;
    border-bottom: 1px solid #adadad;
    margin: 30px 0;
}

.user span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6C3483;
}

input[type="submit"]{ /*ESTILOS PARA EL BOTÓN */
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #6C3483;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    transition: 0.2s;

}

input[type="submit"]:hover{
    border-color: purple;
    transition: 0.2s;
}

.registro{
    display: block;
    text-align: center;
    padding: 18px;
    font-size: 16px;
}

.error-message { /*ESTILOS PARA EL MENSAJE DE ERROR */
    text-align: center;
    color: red;
    margin-bottom: -5px;
    margin-top: 10px;
    font-size: 18px;
  }